[Unit]
Description={{ item.name }}
After=network.target

[Mount]
What={{ item.mount.what }}
Where={{ item.mount.where }}
Type={{ item.mount.type }}
Options={{ item.mount.options }}
TimeoutSec=20

[Install]
WantedBy=multi-user.target