[Unit]
Description=Fix Virtualbox kernel module

[Service]
WorkingDirectory=/usr/local/bin/
Type=forking
ExecStart=/bin/bash /usr/local/bin/fixVirtualBox.sh
KillMode=process

[Install]
WantedBy=multi-user.target
