[Unit]
Description={{ item.name }}
Wants=network-online.target
After=network.target network-online.target

[Mount]
What={{ item.mount.what }}
Where={{ item.mount.where }}
Type={{ item.mount.type }}
Options={{ item.mount.options }}
TimeoutSec=20

[Install]
WantedBy=multi-user.target